body {
    margin: 0;
    padding: 0;

    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;

    color: #000000;
  }

a {
    text-decoration: none;
  }

.main-header-logo {
  width: 220px;
  position: absolute;
  background-color: #ee3643;
  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
}

.logo {
  object-fit: contain;
  padding-top: 13px;
  padding-bottom: 12px;
  padding-left: 55px;
  padding-right: 56px;

}

.main-header-logo:hover,
.main-header-logo:focus {
    background-color: #ca2c37;
}

.main-header-logo:active {
    background-color: #ba2732;

}


.button {
    font: inherit;

    text-align: center;
    color: #ffffff;
    vertical-align: middle;
    text-transform: uppercase;

    background-color: #ee3643;
    border: none;
  }

.button:hover,
.button:focus {
    background-color: #ca2c37;
  }

.button:active {
  background-color: #ba2732;
  }

.main-header {
    background-color: #f4f7f9;
    margin-bottom: 55px;
}

.main-navigation {

    font-size: 17px;
    line-height: 17px;
    color: #ffffff;


  }

.main-user {
  position: relative;
  font-family: "Cuprum";
  font-size: 17px;
  line-height: 1.06;
  color: #ffffff;
  display: flex;
  margin-right: 0;
  margin-left: auto;


}

.site-navigation,
.user {
    list-style: none;
  }

.main-search {
    width: 270px;
    border: none;
    background-color: transparent;
    font-size: 17px;
    line-height: 1.06;
    padding: 0;
    background-image: url(../img/icon-search.svg);
    background-repeat: no-repeat;
    background-position: 10px 10px;
    z-index: 10px;
}

.main-search:hover {
    background-color: #212a3a;
}

.main-search:focus {
    background-color: #ffffff;
}

.main-search::placeholder {
  padding: 11px 49px;
  padding-left: 50px;
  line-height: 1.06;
}

.main-search::placeholder:active {
  background-color: #ffffff;
  color: #000000;
}

.site-navigation a
 {
    font-family: "Cuprum";
    font-size: 17px;
    font-weight: normal;
    color: #ffffff;
    padding: 20px 30px;


  }

.main-user a {

    padding-top: 12px;
    padding-bottom: 12px;
    font-family: "Cuprum";
    font-size: 17px;
    font-weight: normal;
    line-height: 1.06;
    color: #ffffff;

}



.user a {
    color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {

  background-color: #1d2739;
}

.user a:hover,
.user a:focus {
    color: #ee3643;

}

.user a:hover path,
.user a:focus path{
  fill: #32425C;
}

.user a:active {
    opacity: 0.3;
    color: #000000;
}

.user a:active path {
  fill: #000000;
}

.main-user a:hover,
.main-user a:focus {
   background-color: #212a3a;
   border: none;


}
.main-user a:active {
    background-color: #161d29;
    color: rgba(255, 255, 255, 0.6);
}

.site-navigation a:active,
.main-user a:active {
    color: rgba(255, 255, 255, 0.5);
    background-color: #1d2739;


}

.bookmarks {
  position: relative;
  padding-left: 46px;
  padding-right: 25px;
  padding-top: 10px;
  padding-bottom: 12px;
}

.bookmarks::before {
  content: url("../img/icon-bookmark.svg");
  position: absolute;
  opacity: 0.3;
  left: 17px;
}

.bookmarks:hover::before {
  opacity: 1;
}

.bookmarks:active::before {
  opacity: 0.6;
}


.cart {
    position: relative;
    padding-left: 50px;
    padding-right: 31px;
    padding-top: 10px;
    padding-bottom: 12px;
}

.cart::before {
  content: url("../img/cart-icon.svg");
  position: absolute;
  opacity: 0.3;
  left: 20px;
}

.cart:hover::before {
  opacity: 1;
}

.cart:active::before {
  opacity: 0.6;
}

.order {
    padding-left: 20px;
    padding-right: 22px;
    background-color: #63a63e;
    padding-top: 10px;
    padding-bottom: 12px;

}

a.order:hover,
a.order:focus {
    background-color: #5fbb2d;
}

a.order:active {
    background-color: #518534;
    opacity: 0.5;
}

.tel {
  position: relative;
  font-size: 21px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;

  color: #ee3643;
  border: solid 3px #ffffff;
  margin-top: 6px;
  margin-bottom: 0;

  padding: 9px 10px 9px 45px;

}

.tel::before {
  content: url("../img/icon-phone.svg");
  position: absolute;
  left: 16px;
}

.our-address {
  color: #32425c;
  margin-top: 4px;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: center;

}

.info {
    width: 200px;
    font-size: 16px;
    line-height: 1.44;
    font-family: Cuprum;
    font-weight: normal;
    font-style: italic;
    margin-top: 9px;
    margin-left: 52px;

    color: #ee3643;
}

.transport-companies-list {
    list-style: none;
    font-size: 18px;
    line-height: 20px;
}

.index-columns h2 {
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
}

.contacts-item input {
    font: inherit;

    background-color: transparent;
    border: 2px solid #dee3e4;
  }

.contacts-item input:focus {
    border-color: #ee3643;
  }

.page-title {
    font-family: Cuprum;
    font-size: 30px;
    line-height: 30px;
    color: #32425c;
    padding-left: 30px;
    padding-top: 32px;
    padding-bottom: 34px;
  }

.main-social {
    width: 100%;

    color: #ffffff;

    background-color: #293449;
}

.footer-navigation a {
    color: #f1f5f7;
    text-decoration: none;
  }

.footer-navigation a:hover,
.footer-navigation a:focus {
    text-decoration: underline;
  }

.footer-navigation a:active {
  color: rgba(241, 245, 247, 0.5);

}

.footer-navigation-addition a,
.button-social {
    color: #ffd180;
    text-decoration: none;
}

.footer-navigation-addition a:hover,
.footer-navigation-addition a:focus,
.button-social {
    text-decoration: underline;
}

.footer-navigation-addition a:active {
    color: rgba(255, 209, 128, 0.5);
}

.button-social:active {
    color: #ee3643;
}

.footer-social {
    text-align: center;

  }

.footer-social ul {
    list-style: none;
  }

.social-btn {
    color: #ffffff;
  }

.navigation {
    display: flex;
    flex-direction: column;
    align-items: center;

    /* Временно для сетки */
    min-height: 285px;
    background-color: transparent;
  }


.main-navigation {
    width: 100%;
    list-style: none;

  }

.user-navigation {
    width: 100%;
    display: flex;
    justify-content:flex-start;
    flex-grow: 0;
    margin: 0;
    padding: 0;
    margin-bottom: 26px;

    list-style: none;
  }

.contact-wapper {
  width: 270px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-left: 64px;
}

.user {
  width: 281px;
  display: flex;
  flex-direction: row;
  padding: 0;
  justify-content: flex-end;
  margin-left: 74px;
  margin-right: 0;
}

.user li {
  font-size: 21px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  margin-right: 0;
}

.user a {
  padding: 10px 25px 11px 24px;
  background-color: #ffffff;
}

.user .login-link {
  position: relative;
  padding-left: 48px;
  margin-right: 10px;
}

.user svg {
  position: absolute;
  top: 15px;
  left: 15px;
}

.main-with-logo {
    width: 100%;
    display: flex;
    margin-bottom: 40px;
    background-color: #293449;
}

.site-navigation {
    display: flex;
    justify-content: space-between;
    margin: 0px;
    padding: 0px;
    min-height: 60px;
    background-color: #32425c;
    padding-left: 23px;
    padding-right: 24px;
    box-shadow: inset 0px -5px 0 0 #293449;

}

.site-navigation li {
    display: flex;
}

.index-columns {

    display: flex;
    justify-content: space-around;

    margin-bottom: 86px;
}

.about-us {
    width: 519px;


    font-family: "Cuprum", sans-serif;

    /* Временно для сетки */
    min-height: 370px;
}

.contacts {
    width: 300px;
    font-family: "Cuprum", sans-serif;

    /* Временно для сетки */
    min-height: 370px;
}

.main-footer {
    display:flex;
    flex-direction: column;
    margin-top: 70px;
}


.footer-container {
    width: 100%;
    background-color: #32425c;

 }

 .footer-items {


    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: auto;

    /* Временно для сетки */
    min-height: 200px;
 }

 .main-footer-logo {
     width: 220px;
     height: 68px;
     text-align: center;
     line-height: 68px;

  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
  background-color: #ee3643;

 }

 .footer-navigation, .footer-navigation-addition {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 600px;
    padding-top: 42px;
    font-family: "Cuprum", sans-serif;
    font-size: 18px;
    margin: 0;

    list-style: none;
}

 .footer-main-with-logo, .footer-item-container {
    display: flex;
    flex-direction: center;
    justify-content: space-around;

    margin: auto;
 }

.footer-social {

    display: flex;
    justify-content: space-around;
    margin:  auto;
 }

 .footer-social-items {
    width: 150px;
    display: flex;
    justify-content: space-between;
}

.footer-copyright {
    width: 285px;
    display: flex;
    justify-content: space-between;
}

.container {
    width: 940px;
    margin: 0 auto;
    padding: 0;
    font-family: "Cuprum";
  font-size: 17px;
  line-height: 1.06;

    display: flex;
  }

  .main-header {
    margin-bottom: 75px;

    /* Временно для сетки */
    min-height: 285px;
  }

.page-title {
    margin-bottom: 20px;

    /* Временно для сетки */
    min-height: 89px;
  }

  .breadcrumbs {
    padding: 0;
    margin: 0;
    margin-bottom: 25px;

    /* Временно для сетки */
    min-height: 13px;
  }

  .filters {
    width: 220px;

    /* Временно для сетки */
    min-height: 700px;
  }

  .catalog {
    width: 700px;

    /* Временно для сетки */
    min-height: 700px;
  }

  .catalog-columns {
    display: flex;
    justify-content: center;
  }

  .catalog-items {
    width: 700px;
    margin: 20px auto;
  }

  .catalog-item {
    position: relative;
    display: inline-block;
    width: 218px;
    margin-right: 20px;
    margin-bottom: 20px;

    line-height: 20px;
    font-weight: bold;
    text-align: center;

    border: 1px solid #ccc;
  }

  .catalog-item:nth-child(3n) {
    margin-right: 0;
  }

  .main-container .catalog-item:nth-child(3n) {
    margin-right: 20px;
  }

  .main-container .catalog-item:nth-child(4n) {
    margin-right: 0;
  }

  .catalog-items {
    font-size: 0;
  }

  .main-container .catalog-items {
    width: 100%;
  }

  .catalog-item {
    font-size: 16px;
  }

  .catalog-item .flag {
    position: absolute;
    top: -1px;
    right: -1px;

    width: 60px;
    height: 60px;

    text-indent: -1000px;
    overflow: hidden;
    z-index: 20;
  }

  .catalog-item .flag-new {
    background: url("../img/new-flag.png") no-repeat 0 0;
  }


  .catalog-item .actions {
    position: absolute;
    top: 0;
    left: 0;

    width: 218px;
    height: 88px;
    padding: 40px 0;

    background-color: rgba(255,255,255,0.9);
    z-index: 10;
}

.catalog-item .actions .buy,
.catalog-item .actions .bookmark {
  display: block;
  width: 129px;
  margin: 0 auto;
  margin-bottom: 7px;
  padding: 7px 0;

  background-color: #63a63e;
  border: 3px solid #63a63e;
  border-bottom-color: #367315;
  border-radius:3px;

  color: white;
  font-size: 14px;
  font-weight: normal;
  font-family: "Cuprum", sans-serif;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
}

.catalog-item .actions .bookmark {
  color: #32425c;
  background: white;
  border-bottom-color: #63a63e;
}

.catalog-item .actions {
  display: none;
}

.catalog-item:hover .actions {
  display: block;
}

.catalog-item .image {
  width: 218px;
  height: 168px;
}

.catalog-item .image img {
  max-width: 100%;
}

.catalog-item .title {
  min-height: 40px;
  padding: 0 25px;
  margin-top: 10px;
  margin-bottom: 15px;
}

.catalog-item .discount {
  min-height: 20px;
  margin-top: 15px;
  margin-bottom: 10px;

  color: #999;
  text-decoration: line-through;
}

.catalog-item .price {
  position: relative;
  width: 80px;
  margin: 10px auto;
  margin-bottom: 20px;
  padding: 10px 30px;

  color: white;
  background: #ee3643;
  border-radius: 3px;
}

.catalog-item .price:after {
  content: "";

  position: absolute;
  top: 0;
  right: -20px;

  width: 0;
  height: 0;

  border: 20px solid white;
  border-left-color: #ee3643;
}

  .pagination-list {
    padding: 0;
    margin: 0;

    list-style: none;

    /* Временно для сетки */
    min-height: 38px;
  }

.modal-cart-form, .modal-map, .modal{
  display: none;
}

.filter-container {
  margin: 0 auto;
  padding: 25px;
  width: 300px;
  border: 2px solid #eeeeee;
  border-radius: 3px;
}

.filter-range-wrapper {
  margin-bottom: 10px;
  padding: 39px 18px;
  border-radius: 3px;
  background-color: #eeeeee;
}

.filter-range {
  position: relative;
}

.filter-range-scale {
  height: 2px;
  background-color: #d7dcde;
}

.filter-range-bar {
  height: 2px;
  width: 75%;
  background-color: #00ca74;
}

.filter-range-handle {
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translateY(-50%);
  width: 4px;
  height: 4px;
  box-sizing: content-box;
  padding: 0;
  border: 8px solid #ffffff;
  border-radius: 50%;
  background-color: #b7b7b7;
  cursor: pointer;
}

.filter-range-handle.min {
  left: 0;
}

.filter-range-handle.max {
  left: 75%;
}

.filter-interval {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.filter-interval label {
  width: 50%;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
}

.filter-interval label:last-child {
  text-align: right;
}

.filter-interval input {
  margin-left: 8px;
  width: 80px;
  height: 38px;
  border-radius: 2px;
  border: none;
  font: inherit;
  color: inherit;
  text-align: center;
  background-color: #eeeeee;
}

.promo__list {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 1100px;
}

.promo__item {
  width: 256px;
  height: 122px;
  padding: 20px 22px;
  background-color: pink;
}

.promo__item:not(:nth-child(-n+3)) {
  margin-top: 20px;
}

.slider {
  position: relative;
  width: 620px;
  height: 266px;
  padding: 0;
  background-color: #b7babb;
}

.promo__item:not(:nth-child(-n+3)) {
  margin-top: 20px;
}

.promo__item:last-child {
  margin-top: -130px;
  margin-left: auto;
}
